@import url('@/app/styles/themes/dark.scss');
@import url('@/app/styles/themes/light.scss');
@import url('@/app/styles/variables/global.scss');
@import url('@/app/styles/reset.scss');

html {
    font-family: var(--font-family-main);
}

.app {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 1fr 1fr;
    color: var(--primary-color);
    background-color: var(--bg-color);
}