* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

button {
    outline: none;
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}
