.app.dark {
    --bg-color: #212227;
    --bg-color-secondary:  #1B1C21;
    --primary-color: #FFF;
    --secondary-color: #636363;
    --accent-color: #2E3034;
    --active-color: #F5C451;
    --border-color: #313131;
}