.app.light {
    --bg-color: #FFF;
    --bg-color-secondary:  #F6F6F4;
    --primary-color: #100F0F;
    --secondary-color: #A4A4A4;
    --accent-color: #E6E6E6;
    --active-color: #5742A9;
    --border-color: #D3D3D3;
}