.button {
    padding: 8px 16px;
    background-color: var(--active-color);
    color: var(--bg-color-secondary);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: 0 0 10px 0 var(--active-color);
    transition: all .3 cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        filter: brightness(115%);
        transform: translateY(-3%);
        box-shadow: 0 0 15px 0 var(--active-color);
    }
}