.navbar {
    grid-column: 2 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-color-secondary);

    height: fit-content;
    padding: 16px 24px;

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }
}